

body {
    background-color: #998650;
}

#header{
 color:#66101F;
 font-family: ostrich sans inline;
 text-align: center;
 font-size: 87px;
}

#header1{
  text-align: center;
  background-color: #998650;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#footer{
  height: 75px;
  background-color: #998650;
  text-align: center;
  margin-top: 30px;
}

table{
  margin: 0 auto;
}

#left{
  padding-left: 8%;
}

#right{
  padding-left: 7%;
}


.cell{
 width: 175px;
 height: 175px;
 border: 6px solid #998650;
 color: blue;
 /*padding-left: 100%;*/
 background-color: #73473E;
}
/*.cell{
 text-align: center;
 background-color: #cfdbd5;
 margin-top: 30px;
 margin-bottom: 30px;
 border-radius: 10px;
}*/

h2 {
  font-family: code bold;
  font-size: 25px;
  color: #66101f;
  text-decoration: underline;
}
h3{
    font-family: code bold;
    font-size: 25px;
    color: #66101f;
  }
p {
  font-family: code bold;
  font-size: 16px;
  color: #66101f;
}
/*.left{
  padding-left: 55%;
}*/

img{
 width:145px;
 height:140px;
 padding-left: 15%;
}

.btn{
display: inline-block;
width: 531px;
padding: 8px;
color: #66101F;
border: 5px solid #66101F;
text-align: center;
outline: none;
text-decoration: none;
background-color: #998650;
font-family:code bold;
border-radius: 0;
font-size: 20px;
}
.btn:hover {
 background-color: #73473E;
 border-color: #66101F;
 color: white;
 transition;
 font-color: #66101F 0.7s ease-in;
             background-color:white 0.7s ease-in;
             border-color: #66101F 0.7s ease-in;
}

@font-face {
   font-family: ostrich sans inline;
   src: url(Ostrich Sans Inline-regular.otf);
}

@font-face {
   font-family: code bold;
   src: url(CODE Bold.otf);
}


.grid{
  height: auto;
  width: auto;
}
